<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/simple">Simple</a></li>
				<li><a href="/pose">Pose</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/insertableFace">Insertable Face</a></li>
	    		</ul>
			</nav>
			
			<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    			<script>
        		// SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        		Kakao.init('8a6779cc3d79dd1ad16ddddf9478fc29');
    			</script>
			
			<a id="kakao-link-btn" href="javascript:sendLink()">
  				<img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
			</a>
			<script type="text/javascript" src="../scripts/kakaolink.js"></script>
			
			<a href="javascript:shareStoryWeb()">
  				<img src="https://developers.kakao.com/tool/resource/static/img/button/kakaostory/button/web/kakaostory_web_preview.png" />
			</a>
			<script type="text/javascript" src="../scripts/kakaostory.js"> </script>
			
			<div class="container">
			
			{{ content }}
				
				
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yeseul.joo@lge.com">email</a></li>
	        		<li><a href="https://github.com/jooyesle">github.com/jooyesle</a></li>
				</ul>
			</footer>
		</body>
	</html>
